* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.cursor-grab {
  cursor: grab;
}
.cursor-crosshair {
  cursor: crosshair;

  /* cursor: url('path-to-image.png'), auto;	 */
}
