* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.cursor-grab {
  cursor: grab;
}
.cursor-crosshair {
  cursor: crosshair;

  /* cursor: url('path-to-image.png'), auto;	 */
}

#system_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 300px;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 12px;
  padding-left: 0;
}

:root {
  --text: white;
}

#system_list_nav_toggle {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99;
}
#system_list_nav {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999;
  width: 25vw;
  padding: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  background: #111;
  overflow-y: scroll;
  height: 100vh;
}

#system_list_nav.hide {
  transform: translateX(-100%);
}

#system_list_nav ul {
  list-style: none;
}

#system_list_nav_toggle,
#system_list_nav button,
#system_nav button {
  color: var(--text);
  padding: 0;
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  /* text-transform: uppercase; */
  font-size: 11px;
}

#system_list_nav_toggle {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 12px;
  font-weight: bold;
}

#system_nav ul {
  margin-left: 12px;
  list-style: none;
}
#system_nav > ul > li {
  margin-bottom: 12px;
}
#system_nav > ul > li:last-child {
  margin-bottom: 0;
}

#system_nav h2 {
  /* text-transform: uppercase; */
  font-size: 11px;
  font-weight: bold;
  color: var(--text);
  padding-left: 12px;
  margin-bottom: 12px;
  font-family: sans-serif;
  cursor: pointer;
}

#system_nav.hide h2 {
  margin-bottom: 0;
}

#system_nav.hide ul {
  display: none;
}
